body {
    font-family: "NTR", sans-serif;
    background-image: url(blood.jpg);
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
    background-attachment: fixed;
}

#header {
    text-align: center;
    padding: 20px;
}

#donor-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    border-radius: 10px; /* Rounded corners */
     /* Hide the overflowing border-radius */
}
.vol{
    transition: .5s;
    justify-content: left;
    background-color: #ffc5c5;
}
.vol:hover {
    transform: scale(1.06);
    background: #ffdadf;
  }

#donor-table th,
#donor-table td {
    padding: 10px;
    border: 2px solid #FFF;
}

#donor-table th {
    font-family: Comic Sans MS;
    background-color: #fd8d8d;
}

#donor-table td {
    font-family: Comic Sans MS;
}

#blood-group-filter {
    font-family: Comic Sans MS;
    text-align: center;
    padding: 10px;
}

#blood-group {

    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}
#back-button {
    position: absolute;
    top: 25px;
    right: 45px;
    padding: 15px 30px;
    border-radius: 25px; /* Add round corners */
    background-color: #fd5353;
    color: white;
    text-decoration: none;
    transition: .5s;
}

#back-button:hover {
    transform: scale(1.06);
    background-color: transparent;
    border: 2px solid #FF6666;
    color: black;

}
label,select {
    font-family: Comic Sans MS;
}
