body
{ background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(blood.jpg);
    background-size:cover;
    background-position:center;
    opacity: 0.8;

}
.regform
{
    justify-content: right;
    max-width:350px;
    margin: 0% auto 0;
    color: rgb(175, 22, 22);
}
.name
{
    justify-content: right;
    max-width: 350px;
    border:5px;
    border-color: darkred;
    position:static;
}
input[type=text]{
    align-items: right;
    border: none;
    border-bottom: 2px solid red;
    background-color: #f5f8f7;
    color: white;
}
input[type=text]:focus{
    background-color: lightblue;
    border: 3px solid #555;
}